html {
  font-family: 'Zilla Slab', serif;
  font-size: 24px;
  text-align: center;
}

.grid {
  display: grid;
  max-width: 1080px;
  height: 1090px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(21, 1fr);
  grid-row-gap: 20px;
  margin: 0 auto;
  
}

h1 {
  font-size: 2rem;
  font-family: 'Staatliches', cursive;
}
h2 {
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
}
h3 {
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
}
h4 {
  font-size: 1.25rem;
}

header {
  grid-area: 1 / 1 / span 2 / span 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

#links {
  display: inline-flex;
  width: 250px;
  justify-content: space-between;
  text-decoration: underline;
  font-size: 1.5rem;
}

#mission {
  grid-area: 3 / 1 / span 8 / span 12;
  display: flex;
  margin: 0 auto;
  align-items: center;
  background-image: url(../images/black-marble.jpg);
}

#box {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 0;
  width: 66%;
}

#about {
  grid-area: 11 / 1 / span 7 / span 12;
  display: inline-flex;
  align-items: center;
}

#about-header {
  width: 50%;
  margin: auto auto;
}

#about-content {
  width: 50%;
}

#about-content img {
  width: 100%;
  max-height: 342px;
}

/* #services {
  grid-area: 27 / 1 / span 12 / span 12;
}

#service-blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#services img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
} */

#contact {
  grid-area: 18 / 1 / span 3 / span 12;
}

#contact-blocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  height: 100%;
}

.blocks h3 {
  padding-bottom: 10px;
}

#contact-blocks a {
  display: inline-block;
  
}

#contact-blocks img {
  height: 1rem;
  vertical-align: middle;
}


footer {
  grid-area: 21 / 1 / span 1 / span 4;
  display: flex;
  align-items: center;
}

/* html, header, #mission, #about, #services, #contact, footer, #links, #about-content, #about-header, #service-blocks, #contact-blocks .blocks{
  border: 1px solid red;
} */